<div class="sidebar-container" [class.collapsed]="collapsed()">
  <div class="sidebar-header">
    <img src="assets/logo.png" alt="Logo" class="sidebar-logo" />
  </div>
  <mat-nav-list>
    <a mat-list-item routerLink="/credits">
      <mat-icon>credit_card</mat-icon>
      <span *ngIf="!collapsed()">Créditos</span>
    </a>
  </mat-nav-list>
  <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar()">
    <mat-icon>{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
</div>